:root {
  --primary-color: #1d4ed8;
  --text-color: #e5e7eb;
  --secondary-color: #9ca3af;
  --bg-color: #e5e7eb;
}

.home-main-and-img-wrapper{
  display: flex;
}

.logo{
  max-width: 50px;
  border-radius: 50%;
  margin-left: 1rem;
}

.landing-pic{
  max-width: 40rem;
  margin: 4rem;
}

.home-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: var(--primary-color);
  color: var(--text-color);
  border-radius: 10px;
}

.brand {
  flex: 1;
  margin-left: 1rem;
  font-weight: 400;
}

.nav-links {
  display: flex;
  list-style: none;
  flex: 1;
  justify-content: flex-end;
}

.nav-link {
  font-family: monospace;
  text-decoration: none;
  color: var(--text-color);
  font-size: 18px;
  margin-right: 2rem;
}

.nav-link:hover {
  font-size: 20px;
}

.home-main {
  padding: 1rem;
  font-size: 20px;
}

.home-text {
  font-weight: 500;
}

.center {
  text-align: center;
  font-weight: 800;
  color: var(--primary-color);
  margin-bottom: 3rem;
}

.home-link-container {
  text-align: center;
}

.docs-link {
  background-color: var(--primary-color);
  color: var(--text-color);
  text-decoration: none;
  padding: 10px 20px;
  margin-right: 1rem;
  border-radius: 5px;
}

.source-link {
  text-decoration: none;
  padding: 10px 20px;
  background-color: var(--secondary-color);
  color: var(--text-color);
}

.link-active {
  font-weight: 550;
  font-size: 20px;
}

.home-link-container a:hover {
  font-weight: 550;
}

.docs-main {
  display: flex;
  height: 80vh;
  width: 100%;
}

.sidebar {
  flex: 1;
  background-color: var(--bg-color);
  margin: 1rem 0rem;
}

.docs-main-content {
  flex: 4;
}

.sidebar-nav-links {
  list-style: none;
}

.sidebar-nav-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  font-family: monospace;
  font-size: 18px;
  margin-bottom: 2.5rem;
  margin-right: 3rem;
  color: black;
}

.sidebar-nav-link:hover {
  font-size: 20px;
  font-weight: 900;
}

.docs-text-heading {
  margin-left: 1rem;
  font-weight: 530;
  color: var(--primary-color);
}

.docs-text {
  margin-left: 1rem;
  font-family: monospace;
  font-size: 18px;
}

.footer{
  background-color: var(--primary-color);
  padding: 2rem;
  border-radius: 5px;
  text-align: center;
  margin-top: 1rem;
}

.social-media-link{
  text-decoration: none;
  color: var(--text-color);
  margin: 1rem;
  font-size: 1.2rem;
}

iframe {
  margin-left: 1rem;
  margin-top: 1rem;
  max-width: 100%;
  width: 741px;
  height: 189px;
  border: 0;
  transform: scale(1);
  overflow: hidden;
}