:root {
  --primary-color: #1d4ed8;
  --text-color: #e5e7eb;
  --secondary-color: #9ca3af;
  --bg-color: #e5e7eb;
  --white-color :white;
  --success-color :#10b981;
  --danger-color :#dc2626;
  --warning-color : rgb(245, 191, 13);
  --info-color :#60a5fa;
}

.alert {
  padding: 2rem;
  border-radius: 5px;
  font-size: 1.25rem;
  color: var(--white-color);
  margin-bottom: 1rem;
  margin-left: 1rem;
}

.alert-success {
  background-color: var(--success-color);
}

.alert-danger {
  background-color: var(--danger-color);
}

.alert-warning {
  background-color: var(--warning-color);
}

.alert-info {
  background-color: var(--info-color)
}

.heading-info {
  font-weight: 400;
  margin: 2rem;
}

.sidebar-link-active {
  color: var(--primary-color);
  font-weight: 600;
}

.iframe-container {
  margin-top: 1rem;
  margin-left: 1rem;
  display: flex;
  justify-content: center;
}

iframe {
  width: 40rem;
  margin: 1rem;
  height: 20rem;
  border: 0;
  transform: scale(1);
  overflow: hidden;
}